<div class="alert-row">
  <%= devise_error_messages! %>
</div>

<div>
  <div class="row">
    <div class="col-md-6 offset-md-3 mb-30">

      <h2>Modifier email et mot de passe</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> charactères minimum</em>
        <% end %>
      </div>
      <br/>

      <div class="field pt-2 pb-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field pt-3 pb-3">
        <%= f.label :current_password %> <i>(Entrez votre mot de passe actuel pour confirmer les changements)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Mettre à jour", class: "btn btn-primary" %>
      </div>
      <% end %>
      <br/><br/>



      <h3 class="no-margin-no-padding">Supprimer mon compte</h3>
      <p><i>(Attention, cette action est irreversible !)
      <p><%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr(e) ?" }, method: :delete, class: "btn-primary btn-lg" %></p>

      <%= button_to "Retour", :back, class: "btn btn-primary" %>


    </div>
  </div>
</div>
