
<div id="small-banner" class="page-title d-flex" aria-label="Page title">
  <div class="container text-left align-self-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Accueil", root_path %></li>
        <li class="breadcrumb-item"><%= link_to "Profil", root_path %></li>
      </ol>
    </nav>
    <h1 class="page-title-heading font-weight-light"> Mon espace Profil </h1>
  </div>
</div>


<!-- Contacts Card Default -->
<div class="container">
  <div class="row">
    <div class="card col-6 lead">
      <div class="card-body">
        <div class="author-card pb-3">
          <div class="author-card-cover"></div>
          <div class="author-card-profile mt-30" >
            <div class="author-card-details">
              <h5 class="author-card-name text-lg">
                <div class="h2"><%= @user.first_name %>  <%= @user.last_name%></div>
              </h5>
                <span class="author-card-position">
                  Inscrit(e) depuis le <%= current_user.created_at.day %> - <%= current_user.created_at.month %> - <%= current_user.created_at.year %></span>
              </div>
              <div class="widget widget-contacts">
                <ul>
                  <li>
                    <i class="fas fa-at"></i>
                    <span> Email : </span>
                    <a><%= @user.email %></a>
                  </li>
                  <li>
                    <i class="fas fa-phone"></i>
                    <span> Téléphone : </span>
                    <a><%= @user.phone %></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <!-- affichage de l'avatar -->
        <!-- a déplacer/retravailler en fonction -->
            <% if @user.avatar.attached? == true %>
            <div class="col-sm-6" style="padding-left: 75px; border-width: 2px; border-style: solid; border-color: #1C6EA4">
                <%= image_tag @user.avatar, class:"img-responsive", alt: "" %>
            </div>
                <% else %>
                <h1>pas d'image</h1>
            <% end %>
        <!--  fin d'affichage de l'avatar -->



        <!-- Buttons -->
        <p>
          <%= link_to edit_user_registration_path, class: "btn btn-style-4 btn-primary btn-sm" do%>
          <span><i class="fas fa-key"></i> Editer email et/ou mot de passe </span>
          <% end %>

          <%= link_to edit_user_path(@user), class: "btn btn-style-4 btn-primary btn-sm" do%>

          <span><i class="fas fa-user-edit"></i> Editer les informations du profil </span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
