
<div id="small-banner" class="page-title d-flex" aria-label="Page title">
  <div class="container text-left align-self-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Accueil", root_path %></li>
        <li class="breadcrumb-item"><%= link_to "Profil", root_path %></li>
      </ol>
    </nav>
    <h1 class="page-title-heading font-weight-light"> Mon espace Profil </h1>
  </div>
</div>


<!-- Contacts Card Default -->
<div class="container">
  <div class="row">
    <div class="card col-6 lead">
      <div class="card-body">
        <div class="author-card pb-3">
          <div class="author-card-cover"></div>
          <div class="author-card-profile mt-30" >
            <div class="author-card-details">
              <h5 class="author-card-name text-lg">
                <div class="h2"><%= @user.first_name %>  <%= @user.last_name%></div>
              </h5>
                <span class="author-card-position">
                  Inscrit(e) depuis le <%= current_user.created_at.day %> - <%= current_user.created_at.month %> - <%= current_user.created_at.year %></span>
              </div>
              <div class="widget widget-contacts">
                <ul>
                  <li>
                    <i class="fas fa-at"></i>
                    <span> Email : </span>
                    <a><%= @user.email %></a>
                  </li>
                  <li>
                    <i class="fas fa-phone"></i>
                    <span> Téléphone : </span>
                    <a><%= @user.phone %></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <!-- affichage de l'avatar -->
        <!-- a déplacer/retravailler en fonction -->
            <% if @user.avatar.attached? == true %>
            <div class="col-sm-6" style="padding-left: 75px; border-width: 2px; border-style: solid; border-color: #1C6EA4">
                <%= image_tag @user.avatar, class:"img-responsive", alt: "" %>
            </div>
                <% else %>
                <h1>pas d'image</h1>
            <% end %>
        <!--  fin d'affichage de l'avatar -->



        <!-- Buttons -->
        <p>
          <%= link_to edit_user_registration_path, class: "btn btn-style-4 btn-primary btn-sm" do%>
          <span><i class="fas fa-key"></i> Editer email et/ou mot de passe </span>
          <% end %>

          <%= link_to edit_user_path(@user), class: "btn btn-style-4 btn-primary btn-sm" do%>

          <span><i class="fas fa-user-edit"></i> Editer les informations du profil </span>
          <% end %>
        </p>
      </div>
    </div>
  </div>



      <section class="p-0 bg-light">
        <div class="image image-overlay image-cover" style="background-image:url(https://s3.eu-west-3.amazonaws.com/meet-hop-public/home.jpg)"
        data-top-top="transform: translateY(0px);"
        data-top-bottom="transform: translateY(-250px);"></div>
        <div class="container">
          <div class="row justify-content-center align-items-end vh-50 mb-5">
            <div class="col col-md-10 col-lg-8">
              <div class="row align-items-center">
                <!-- <div class="col-4 col-lg-3"> -->
                  <!-- <img class="mr-3 avatar avatar-xl rounded" src="../../assets/images/demo/user-2.jpg" alt="Generic placeholder image"> -->
                <!-- </div> -->
                <div class="col-4 col-lg-3">
                  <% if @user.avatar.attached? == true %>

                    <%= image_tag @user.avatar, class:"mr-3 avatar avatar-xl rounded", alt: "avatar" %>

                    <% else %>

                    <%= image_tag("https://i.pinimg.com/originals/c7/b1/f9/c7b1f9668b03b2fd76f14f08446b592e.png", class: "mr-3 avatar avatar-xl rounded") %>
                  <% end %>
                </div>
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col-md-8">
                      <h2 class="mb-0"><b><%= @user.first_name %></b> <%= @user.last_name %></h2>
                      <span class="text-muted">Senior Visual Designer</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-light pt-2">

        <div class="container">
          <div class="tab-content" id="demo-2">

            <!-- tab settings -->
            <div class="tab-pane show active" id="demo-2-4" role="tabpanel" aria-labelledby="demo-2-4">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                  <div class="row">
                    <div class="col">
                      <h5 class="mb-2 fs-20 font-weight-normal">General Information</h5>
                      <form>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label for="firstName">First Name</label>
                              <input type="email" class="form-control" id="firstName" aria-describedby="firstName" placeholder="John">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="secondName">Second Name</label>
                              <input type="email" class="form-control" id="secondName" aria-describedby="secondName" placeholder="Doe">
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label for="userMail">Email address</label>
                              <input type="email" class="form-control" id="userMail" aria-describedby="userMail" placeholder="johndoe@example.com">
                            </div>
                          </div>
                        </div>
                        <div class="form-row mt-1 align-items-center">
                          <div class="col-3">
                            <button class="btn btn-secondary">Save Changes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <h5 class="mb-2 fs-20 font-weight-normal">Profile Information</h5>
                      <form>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label for="userCity">City</label>
                              <input type="email" class="form-control" id="userCity" aria-describedby="userCity" placeholder="New York">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="userCountry">Country</label>
                              <input type="email" class="form-control" id="userCountry" aria-describedby="userCountry" placeholder="United States">
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label for="userTwitter">Twitter</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">@</span>
                                </div>
                                <input type="text" id="userTwitter" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="userTwitter">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group">
                              <label for="exampleFormControlTextarea1">About</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-3">
                            <button class="btn btn-secondary">Save Changes</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
