<% @events.each do |event| %>
<div class="col-md-6" data-aos="fade-up">
  <div class="card rising">

    <div class="card-img-container d-flex" style= 'max-height: 350px; align-items: center; justify-content: center'>
      <% if event.picture.attached? == true %>
      <%= image_tag event.picture, class:"card-img-top", alt: "image" %>
      <% else %>
      <%= image_tag("https://s3.eu-west-3.amazonaws.com/meet-hop-public/event1.jpg", class: "card-img-top") %>
      <% end %>
      <h5 class="card-footer card-title"><%= event.name%></h5>
    </div>
    <div class="col-4 col-lg-3">
    </div>
    <div class="card-body">
      <%= l(event.start_date, format: :short ) %>
      <p>Prix public : <%= event.spectator_price %> €</p>
      <p>Prix danseur : <%= event.dancer_price %> €</p>

      <p>Prize money <%= event.prize_money %></p>
      <p><%= event.city_name %></p>
      <p><%= event.promoter.first_name %> <%= event.promoter.last_name %></p>
      <%= link_to 'Voir plus', event_path(event), class:"btn btn-outline-primary btn-rounded"%>
    </div>
  </div>
</div>
<% end %>
