<% @events.each do |event| %>
<div class="col-md-6" data-aos="fade-up">
  <div class="card rising">
    <a href="" class="card-img-container d-flex" style= 'max-height: 350px; align-items: center; justify-content: center'>
      <%= image_tag  'event1.jpg', class: "card-img-top", alt: "Image" %>
      <h5 class="card-footer card-title"><%= event.name%></h5>
    </a>
    <div class="card-body">
      <%= l(event.start_date, format: :long ) %>
      <p>Prix public : <%= event.spectator_price %> €<br>
      Prix inscription : <%= event.dancer_price %> €</p>
      <p>Prize money <%= event.prize_money %></p>
      <p><%= event.city_name %></p>
      <p><%= event.promoter.first_name %> <%= event.promoter.last_name %></p>
      <%= link_to 'Voir plus', event_path(event), class:"btn btn-outline-primary btn-rounded"%>
    </div>
  </div>
</div>
<% end %>