<%= form_for @event do |f| %>

  <div class="field mt-3">
    <label>Nom</label>
    <%= f.text_field :name, class: 'form-control', placeholder: "4 caractères minimum" %>
  </div>

  <div class="field mt-3">
    <label>Description</label>
    <%= f.text_area :description, class: 'form-control', placeholder: "20 caractères minimum" %>
  </div>

  <div class="field mt-3">
    <label>Adresse</label>
    <%= f.text_field :address, class: 'form-control', placeholder: "13 rue de l'Isère" %>
  </div>
    <div class="field mt-3">
    <label>Code postal</label>
    <%= f.text_field :zipcode, class: 'form-control', placeholder: "38100" %>
  </div>
  <div class="field mt-3">
    <label>Ville</label>
    <%= f.text_field :city_name, class: 'form-control', placeholder: "Grenoble" %>
  </div>

  <div class="field mt-3">
    <label>Date et heure</label><br/>
    <%=f.datetime_select :start_date, {ampm: true, minute_step: 15, :order => [:day, :month, :year, :hour, :minute], prompt: {day: 'Jour', month: 'Mois', year: 'Année'}, start_year: Date.current.year, end_year: Date.current.year + (2)} %>
  </div>

  <div class="field mt-3">
    <label>Durée</label><br/>
    <div class=" ">
    <%= f.time_select :duration, {minute_step: 15, prompt: {hour: 'Heures', minute: 'Minutes'}, end_hour: (4)}, input_html: {} %></div>
  </div>

  <div class="field mt-3">
    <label>Prix spectateurs</label>
    <%= f.number_field :spectator_price, class: 'form-control' %>
  </div>

  <div class="field mt-3">
    <label>Prix danseurs</label>
    <%= f.number_field :dancer_price, class: 'form-control' %>
  </div>

  <div class="field mt-3">
    <label>RÉGLES</label>
    <%= f.text_area :rules, class: 'form-control', placeholder: "Régles du"  %>
  </div>

  <div class="field mt-3">
    <label>prize money</label>
    <%= f.text_field :prize_money, class: 'form-control' %>
  </div>

  <% if @new == true %>
    <div class="field mt-3">
    <label>Catégories présentes</label><br/>
      <% @all_categories.each do |cate| %>
        <input type="checkbox" name="category[]" value=<%= cate.id %> >
        <%= cate.name %> <br/>
    <% end %>
    </div>
  <% end %>

  <div class="field mt-3">
    <label>Image</label><br/>

    <%= f.file_field :picture %>

  </div>

  <div class="actions">
    <% if @new == true %>
      <%= f.submit "Créer", class: "btn btn-submit btn-lg btn-block" %>
    <% else %>
      <%= f.submit "Modifier", class: "btn btn-submit btn-lg btn-block" %>
    <% end %>
  </div>

<% end %>
