<div class="container">
  <div class="row">
    <div class="col-md-3" style="border-width: 2px;
    border-style: solid;
    border-color: #1C6EA4;"></div>
    <div class="col-md-6 " style="border-width: 2px;
    border-style: solid;
    border-color: #1C6EA4;">
    <br/><br/><br/>
    <h2 class="h1 mb-3 font-weight-normal text-center">Modifier un événement</h2>

    <%= form_for @event do |f| %>
    <div class="field mt-3">
      <label>Nom</label>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="field mt-3">

      <label>Description</label>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="field mt-3">
      <label>start date</label>
      <%= f.date_field :start_date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control'%>
    </div>
    <div class="field mt-3">
      <label>Durée (minutes)</label>
      <%= f.number_field :duration, class: 'form-control' %>
    </div>
    <div class="field mt-3">
      <label>Prix spectateurs</label>
      <%= f.number_field :spectator_price, class: 'form-control' %>
    </div>
      <div class="field mt-3">
      <label>Prix danceurs</label>
      <%= f.number_field :dancer_price, class: 'form-control' %>
    </div>
    <div class="field mt-3">

      <label>rules</label>
      <%= f.text_area :rules, class: 'form-control'  %>
    </div>

    <div class="field mt-3">
      <label>prize money</label>
      <%= f.text_field :prize_money, class: 'form-control' %>
    </div>

    <% @all_categories.each do |cate| %>
    <input type="checkbox" name="category[]" value=<%= cate.id %> >  <%= cate.name %> <br/>
    <% end %>

    <label>image associée</label><br/>
    <% if @event.picture.attached? %>
    <%= image_tag @event.picture, alt: 'picture', class:"img-responsive" %>
    <p>=== Il n'y a pas encore d'image liée à ce événement ===</p>
    <% end %>	<br/>

    <!-- we have to work on this -->
    <p>=== si tu veux changer ton image c'est ici ===</p>
    <p>=== (t'as cru que c'était la fete, c'est pas encore fonctionnel ! ) ===</p>
    <p><%= f.file_field :picture %></p>


    <div class="actions">
      <%= f.submit "Modifier", class: "btn btn-submit btn-lg btn-block" %>
    </div>
    <% end %>
  </div>
</div>
