<section style="padding-bottom: 30px; padding-top: 130px">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6" data-aos="fade-up">
        <div class="card rising">

          <div class="card-img-container d-flex" style= 'max-height: 350px; align-items: center; justify-content: center'>
 
            <h5 class="card-title font-weight-bold text-dark"><%= @event.name%></h5>
          </div>

          <div class="card-body text-center" >
            <p>Le 
            <%= l(@event.start_date, format: :short ) %> à <%= @event.city_name %></p>
            <p>Organisé par <%= @event.promoter.first_name %> <%= @event.promoter.last_name %>.</p>
            <p>Prix public : <%= @event.spectator_price %> €</p>
            <p>Prix danseur : <%= @event.dancer_price %> €</p>

            <%= form_tag(:controller => "registrations", :action => "create") do %>
              <article>
                <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                <% end %>

                  <% if @dancer == "true" %>
                    <p>Tu vas t'inscrire en tant que danseur.</p>  
                  <% else %>    
                    <p>Tu vas t'inscrire en tant que spectateur.</p>
                  <% end %>
                <p>ps : le code c'est 4242424242....</p>
                <p>avec date d'exp future et code de conf a 3 chiffres</p>
                <p class="amount">
                  <i class="text-danger">prix a payer: <%= @amount/100 %> €</i>
                </p>
              </article>
            <%= hidden_field_tag :categories , @categories %>
            <%= hidden_field_tag :dancer , @dancer %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="Inscription à l'évènement"
                      data-amount="<%= @amount %>"
                      data-currency="EUR"
                      data-locale="fr"></script>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>