<%= form_tag(:controller => "registrations", :action => "create") do %>
<h1>ici la famille</h1>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= @amount %></span>
    </label>
  </article>
<%= hidden_field_tag :categories , @categories %>
<%= hidden_field_tag :dancer , @dancer %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Inscription à l'évènement"
          data-amount="<%= @amount %>"
          data-locale="auto"></script>
<% end %>