<%= form_tag new_event_charge_path(@event) do %>
<%= hidden_field_tag :events , @events %>
<h1>ici la famille</h1>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= @amount %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Inscription à l'évènement"
          data-amount="<%= @amount %>"
          data-locale="auto"></script>
<% end %>