<!-- footer -->
<footer class="bg-dark text-white">
  <div class="container py-5">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5 text-center text-md-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/gre-thp-s7/Meet-hop" style="color: #fff">Repo Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://themes.getbootstrap.com/product/go-multipurpose-landing-page-template/" style="color: #fff">Template</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 text-center">
        <%= image_tag  'logo-light.png', class: "navbar-logo navbar-logo-light", alt: "Logo" %>
      </div>
      <div class="col-md-5 text-center text-md-right" style="padding-right: 5px">
        <ul class="socials">
          <li><a href="https://github.com/gre-thp-s7/Meet-hop" class="fs-20 text-white"><%= fa_icon "github"%></a></li>
          <li><a href="https://www.facebook.com/thehackingproject" class="fs-20 text-white"><%= fa_icon "facebook"%></a></li>
          <li><a href="https://www.instagram.com/the_hacking_project/" class="fs-20 text-white"><%= fa_icon "instagram"%></a></li>
          <li><a href="https://twitter.com/the_hacking_pro" class="fs-20 text-white"><%= fa_icon "twitter"%></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- / footer -->